

<section id="signin">
	<h1>{{ content.header }}</h1>
	<form (ngSubmit)="handleSubmit()" #userForm="ngForm">
		<div>
			<input name="username"
				placeholder="username"
				type="text"
				autofocus
				required
				[(ngModel)]="user.username"
				(ngModelChange)="serverError = ''"
			/>
			<input name="password"
				placeholder="password"
				type="password"
				required
				[(ngModel)]="user.password"
				(ngModelChange)="serverError = ''"
			/>
		</div>
		<p *ngIf="serverError">{{ serverError }}</p>
		<input [disabled]="!userForm.form.valid" type="submit" value="{{ content.submitMsg }}"/>
	</form>
	<button (click)="switchView()">
		{{ content.viewMsg }}
	</button>
</section>

