

<section id="signin">
	<h1>{{ content.header }}</h1>
	<form>
		<div>
			<input name="username"
				placeholder="username"
				type="text"
				autofocus
				required
				[(ngModel)]="user.username"
				(ngModelChange)="errorMsg = ''"
			/>
			<input name="password"
				placeholder="password"
				type="password"
				required
				[(ngModel)]="user.password"
				(ngModelChange)="errorMsg = ''"
			/>
		</div>
		<p *ngIf="errorMsg">{{ errorMsg }}</p>
		<input type="submit" value="{{ content.submitMsg }}" (click)="handleSubmit()"/>
	</form>
	<button (click)="switchView()">{{ content.viewMsg }}</button>
</section>

