

<section id="signin">
	<h1>{{ content.header }}</h1>
	<form [formGroup]="userForm" (ngSubmit)="handleSubmit()" novalidate>
		<div>
			<input formControlName="username" placeholder="username" type="text" autofocus/>
			<input formControlName="password" placeholder="password" type="password"/>
		</div>
		<p *ngIf="serverError">{{ serverError }}</p>
		<input [disabled]="!userForm.valid" type="submit" value="{{ content.submitMsg }}"/>
	</form>
	<button (click)="switchView()">{{ content.viewMsg }}</button>
</section>

