

<section id="chat-container">
	<header id="chat-header">
		<h2>Showing {{ filterColor.displayLabel }} messages</h2>
		<app-color-selector
			(changeColor)="filterColor = $event"
			[currColor]="filterColor"
			[label]="{ bold: true, text: 'Filter:'}"
		>
		</app-color-selector>
	</header>


	<section id="messages-container">
	</section>

	<section id="new-message">
		<form>
			<input
				maxlength="120"
				placeholder="Type your message - 120 character max!"
				type="text"
			/>

			<input
				id="send-message"
				type="submit"
				value="Send"
				[class]="messageColor.className"
				(click)="emitMessage()"
			/>
		</form>
	</section>

	<section id="controls">
		<span id="logout">
			<span>Logged in as {{ username }}</span>
			<button (click)="logout()">Logout</button>
		</span>

		<app-color-selector
			(changeColor)="messageColor = $event"
			[currColor]="messageColor"
			[label]="{ bold: false, text: 'Message color:'}"
		>
		</app-color-selector>
	</section>
</section>

