

<section id="chat-container">
	<header id="chat-header">
		<h2>Showing all messages</h2>
		<app-color-selector [currColor]="filterColor" label="Filter:"></app-color-selector>
	</header>
	
	
	<section id="messages-container">
		<div class="message green">
			<span><strong>asdf:</strong> hello world!</span>
			<span>2/1, 6:16 PM</span>
		</div>
	</section>

	<section id="new-message">
		<form>
			<div id="new-message-text">
				<input type="text"
					placeholder="Type your message - 120 character max!"
					maxlength="120"
				/>
				
				<button id="send-message" class="clear">Send</button>
			</div>

			<div id="new-message-color">
				<app-color-selector [currColor]="messageColor" label="Message Color:"></app-color-selector>
			</div>
		</form>
	</section>
	
	<div id="logout">
		<span>Logged in as ~username~</span>
		<button>Logout</button>
	</div>
</section>

