

<section id="chat-container">
	<header id="chat-header">
		<h2>Showing {{ filterColor.value }} messages</h2>
		<app-color-selector
			(changeColor)="filterColor = $event"
			[currColor]="filterColor"
			[label]="{ bold: true, text: 'Filter:'}"
		>
		</app-color-selector>
	</header>


	<section id="messages-container">
		<div class="message green">
			<span><strong>asdf:</strong> hello world!</span>
			<span>2/1, 6:16 PM</span>
		</div>
	</section>

	<section id="new-message">
		<form>
			<input type="text"
				placeholder="Type your message - 120 character max!"
				maxlength="120"
			/>

			<input [class]="messageColor.value" id="send-message" type="submit" value="Send" disabled/>
		</form>
	</section>

	<section id="controls">
		<span id="logout">
			<span>Logged in as {{ username }}</span>
			<button>Logout</button>
		</span>

		<app-color-selector
			(changeColor)="messageColor = $event"
			[currColor]="messageColor"
			[label]="{ bold: false, text: 'Message color:'}"
		>
		</app-color-selector>
	</section>
</section>

