

#app {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	width: 100vw;
}


#app-header {
	align-self: stretch;
	background-image: url('/assets/top-bar.jpg');
	box-shadow: 0 0 15px rgba(0, 0, 0, .8);
	font-size: 3rem;
	margin: 0 0 1rem;
	padding: .75rem 0;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
}

