

body {
	width: 100vw;
	min-height: 100vh;

	margin: 0;

	font: 16px 'Montserrat', sans-serif;

	color: black;
	background-color: #e3e5f9;
}


h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}


input[type='text'], input[type='password'] {
	background-color: #f7f7f7;
	border-radius: 5px;
	border: 1px solid #5a5959;
	box-shadow: inset 0 0 3px #717171;
	font-size: 1rem;
	font-weight: 500;
	outline: none;
	padding: .3rem .5rem;
}

